<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier un Étudiant</title>
    <!-- Lien vers le CSS -->
    <!-- Lien vers les polices et icônes -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="students" routerLinkActive="active" class="nav-link">
            <i class="fas fa-list"></i> Liste des Étudiants
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="create-student" routerLinkActive="active" class="nav-link">
            <i class="fas fa-user-plus"></i> Ajouter un étudiant
        </a>
      </li>
    </ul>
  </div>
</nav>


<h1 class="text-center mb-4">Système de Gestion des Etudiants</h1>
<hr />
<div class="app-wrapper">
  <div class="content">
      <router-outlet></router-outlet>
  </div>
  <footer class="footer">
      <p>© 2024 Mon Application de Gestion des Étudiants</p>
  </footer>
</div>
